/*全局样式*/
body{
    font-family: 'Microsoft YaHei', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/*导航*/
.navbar-default{
    background-color: #FBF5D1;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.25);
}
.navbar-default .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #40D2B1;
    height: 70px;
    line-height: 35px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    height: 70px;
    line-height: 35px;
}
.navbar-toggle{
    margin-top: 17px;
}
.navbar-default .navbar-toggle:hover {
    border-color: #40D2B1;
    background-color: rgb(69, 210, 184);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1C9982;
}
#log-img{
    width: 230px;
    margin-top: 5px
    /*margin-left: -50px;*/
}
/*ul.nav.navbar-nav.navbar-right {*/
    /*margin-right: -50px;*/
/*}*/

/*轮播图样式*/
section#lunbotu{
    /*box-shadow: 1px 4px 15px rgba(2, 1, 3, 0.6);*/
    margin-top: 70px;
    /*height: 300px;*/
    /*width: 100%;*/
}
.lunbo-img{
    width: 100%;
}

/*栅栏*/
#fence{
    height: 26px;
    background-image: url("../images/fence.jpg");
}

/*公告新闻*/
#xiaoxi{
    padding: 60px 0;
    background-color: #e6e686;
    width: 100%;
}
.gonggao{
    margin-top: 10px;
    margin-bottom: 40px;
}
#line {
    background-color: #7e522b;
    width: 89%;
    height: 1px;
    margin-top: 14px;
    clear: left;
}
.font_gonggao{
    color: #7e522b;
    font-weight: bold;
    float: left;

}
.more_gonggao{
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    text-decoration: none;
    color: #7e522b;
}
/*#gonggao_head{*/
    /*float: left;*/
/*}*/
#img_gonggao{
    float: right;
    margin-top: 30px;
    margin-right: -13px;
    height: 180px;
}
a:focus, a:hover {
    color: #7e522b;
    text-decoration: none;
}
section.gonggolist p{
    margin-top: 8px;
    overflow: hidden;  /*超出部分隐藏*/
    white-space: nowrap;   /*只显示一行*/
    text-overflow: ellipsis; /*用点代替*/
    margin-right: 80px;
}
section.gonggolist a,section.gonggolist span{
    color: #7e522b;
}
.col-md-6.xinwen {
    margin-top: -6px;
    margin-bottom: 40px;
}
section#new_head {
    padding-top: 25px;
    margin-bottom: -9px;
}
.more_xinwen{
    width: 100%;
    color: #7e522b;
    text-align: right;
}
#img_xinwen{
    float: right;
    width: 45%;
    margin-left: 102px;
    margin-top: -70px;
}
.font_xinwen{
    color: #7e522b;
    font-weight: bold;
    /*float: left;*/
    margin-top: 9px;
    /*text-align: right;*/
    /*width: 30%;*/
}
#line_xinwen {
    background-color: #7e522b;
    width: 89%;
    margin-top: 14px;
    clear: left;
}
section.newlist {
    margin-top: -20px;
    /*width:100%;*/
    /*text-align: right;*/
    /*margin-left: 66px;*/
}
section.newlist p{
    margin-top: 8px;
    overflow: hidden;  /*超出部分隐藏*/
    white-space: nowrap;   /*只显示一行*/
    text-overflow: ellipsis; /*用点代替*/
}
section.newlist a,section.newlist span{
    color: #7e522b;
}

/*幼儿作品*/
#zuopin{
    background: url("../images/shutiao.png");
    width: 100%;
    padding-bottom: 3%;
}
.title_zuppin{
    color: #7e522b;
    font-weight: bold;
    margin: 0px;
    padding: 30px 0;
}
#include_zuopin{
    overflow: hidden;
    white-space: nowrap;
}
.zuopin_bg{
    float: left;
    background: url("../images/bg_zuopin.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 28%;
    padding-bottom: 5%;
    margin-right: 5%;
}
.zuopin_img{
    width: 57%;
    height: 80%;
    margin: 0 25%;
    margin-top: 10%;
}
.zuopin_text{
    text-align: center;
}
/*视频宝宝*/
#jingcai{
    padding: 3% 0;
    background-color: #E6E686;
}
#video{
    margin-top: 6%;
    width: 90%;
    height: 100%;
}
/*div#baobao {*/
    /*!* padding-left: 10%; *!*/
    /*padding-top: 10%;*/
/*}*/
.baobao_bg{
    float: left;
    background: url("../images/bg_baobao.png");
    background-repeat: no-repeat;
    background-size: 100% 32%;
    width: 28%;
    padding-bottom: 5%;
    margin-right: 5%;
}
.baobao_img {
    width: 85%;
    height: 60%;
    margin: 4% 6%;
    margin-top: 14%;
}

/*联系我们*/
#contact{
    background: url("../images/map.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
}
#contact h2{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 25px;
}
#contact p{
    line-height: 25px;
    margin-bottom: 20px;
}
.lvjing{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 50px 0;
}
.adree {
    margin-top: 5%;
    padding-left: 8%;
}

/*footer*/
footer{
    background-color: #FBF5D1;
    font-weight: 400;
    text-align: center;
    padding:20px ;
}

/*文章详情*/
section#article_detail{
    background-color: #E6E686;
    /*background: url("../images/shutiao1.jpg");*/
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
#article_background_head{
    background: url("../images/detail_head.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#article_background_meddile{
    background: url("../images/detail_meddile.png");
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 0 10%;
}
div#article_background_meddile h3{
    margin-top: 0;
    margin-bottom: 5%;
    padding-top: 0;
    font-weight: bold;
    text-align: center;
}
div#article_background_meddile p{
    margin: 0;
}
#article_background_bottom{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*文章列表*/
section#article_list{
    background-color: #E6E686;
    /*background: url("../images/shutiao1.jpg");*/
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
div#nav_list {
    text-align: right;
}
