<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?opt=/$1&%{QUERY_STRING} [L]
#    RewriteRule ^ index.php [L]
    ErrorDocument 403 /404.html
</IfModule>